/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.toast-success {
  background-color: #28a745 !important;
  color: #fff !important;
}

.toast-error {
  background-color: #dc3545 !important;
  color: #fff !important;
}

